

.post-table{
    width:100%;
    background-color: #EEEEEE;
    
    margin:15px;
    margin-top: 25px;
     border-collapse: collapse;
     text-align: center;
     padding: 30px;
     border:2px solid #134B70;
     border-radius: 12px;
}
.post-table thead tr {
   color:white;
   font-size:15px;
   font-weight: 0;
   background-color: #508C9B;
   border-bottom: 2px solid #134B70;
}
.post-table tbody tr{
   padding: 20px;
   border-bottom: 2px solid #134B70;
}
.post-table tbody tr a{
   color:#134B70;
   text-decoration: none;
   background-color: #C4E4FF;
   font-size: 12px;
   font-weight: 400;
   padding: 10px;
   border-radius: 12px;
}
.hide-btn{
   background-color: #73BBA3;
   border: none;
   color: white;
   border-radius: 10px;
  font-size:13px;
  padding: 10px;  
  margin: 10px; 


}
.delete-btn{

   background-color: #EF5A6F;
   border: none;
   color: white;
   border-radius: 10px;
  font-size:13px;
  padding: 10px;  
  margin: 10px; 
}